python-telegram-bot==20.7
colorama
attrs
Automat
beautifulsoup4
bs4
certifi
cffi
chardet
charset-normalizer
constantly
contourpy
cryptography
cssselect
cycler
defusedxml
distlib
dnspython
exrex
Faker
filelock
fire
fonttools
future
h11
hyperlink
idna
incremental
itemadapter
itemloaders
jmespath
kiwisolver
loguru
lxml
markdown-it-py
matplotlib
mdurl
numpy
outcome
packaging
parsel
pillow
platformdirs
Protego
pyasn1
pyasn1_modules
pycparser
PyDispatcher
Pygments
pyOpenSSL
pyparsing
PySocks
python-dateutil
queuelib
requests
requests-file
rich
Scrapy
selenium
service-identity
setuptools
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
tenacity
termcolor
tldextract
tqdm
treelib
trio
trio-websocket
Twisted
typing_extensions
tzdata
undetected-chromedriver
urllib3
user_agent
virtualenv
w3lib
websocket-client
websockets
win32-setctime
wsproto
zope.interface
